# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Airflow runtime
logs/
airflow-webserver.pid
scheduler.pid
airflow.cfg
webserver_config.py

# Airflow database (caso use sqlite)
airflow.db

# Docker volumes
postgres_data/

# Data files
*.csv
*.parquet
*.json

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# AWS credentials
.aws/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

/ignore